@import './components/Footer.scss';
@import './components/Order.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  box-sizing: border-box;
  .x-scroll-block {
    overscroll-behavior-x: none;
  }
  touch-action: pan-y;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

@layer components {
  .wrapper {
    @apply pt-8 px-6 w-full pb-[58px];
    &-with-header {
      @apply pt-14;
    }
  }

  // flex
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-between {
    @apply flex justify-between items-center;
  }
  .flex-col-center {
    @apply flex flex-col justify-center items-center;
  }
}
